.vscode/
.idea/
.venv*
*.log
.DS_Store
bitcoin.conf*
*__pycache__
.pending*
cli/*.json
appointments/
test.py
*.pyc
.cache
.pytest_cache/
*.der
.coverage
htmlcov
docs/
.teos
.teos_cli
*.orig
/monitor/monitor.conf
