version: 2

jobs:

  # TESTS
  unit_tests:
    machine:
      image: ubuntu-1604:201903-01

    steps:
      - checkout

      - restore_cache:
            keys:
              - v1-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}-{{ checksum "cli/requirements.txt" }}-{{ checksum "test/teos/e2e/bitcoind_snap.sh" }}

      - run:
          name: Install dependencies
          command: |
            pyenv local 3.7.0
            python3 -m venv venv
            . venv/bin/activate
            sudo pip install --upgrade pip
            pip install -r requirements.txt
            pip install -r requirements-dev.txt
            pip install -r cli/requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}-{{ checksum "cli/requirements.txt" }}-{{ checksum "test/teos/e2e/bitcoind_snap.sh" }}

      - run:
          name: Run teos unit tests
          command: |
            . venv/bin/activate
            pytest test/teos/unit/

      - run:
          name: Run common unit tests
          command: |
            . venv/bin/activate
            pytest test/common/unit

      - run:
          name: Run cli unit tests
          command: |
            . venv/bin/activate
            pytest test/cli/unit

  e2e_tests:
    machine:
      image: ubuntu-1604:201903-01

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}-{{ checksum "cli/requirements.txt" }}-{{ checksum "test/teos/e2e/bitcoind_snap.sh" }}

      - run:
          name: Install bitcoind
          command: |
            sudo snap install `cat test/teos/e2e/bitcoind_snap.sh`

      - run:
          name: Run bitcoind
          command: |
            mkdir -p /home/circleci/snap/bitcoin-core/common/.bitcoin/
            cp test/teos/e2e/bitcoin.conf /home/circleci/snap/bitcoin-core/common/.bitcoin/
            /snap/bin/bitcoin-core.daemon

      - run:
          name: Setup teos
          command: |
            . venv/bin/activate
            python3 -m generate_keys -d ~/.teos/
            python3 -m generate_keys -n cli -d ~/.teos_cli/
            cp ~/.teos/teos_pk.der ~/.teos_cli/
            cp test/teos/e2e/teos.conf ~/.teos/

      - run:
          name: Run e2e tests
          command: |
            . venv/bin/activate
            pytest test/teos/e2e/

  # Update Docker image
  # publish jobs require $DOCKERHUB_REPO, $DOCKERHUB_USER, $DOCKERHUB_PASS defined
  publish_docker_linuxamd64:
    machine:
      docker_layer_caching: false

    steps:
      - checkout
      - run:
          command: |
            LATEST_TAG=${CIRCLE_TAG:1} #trim v from tag
            if [ -z "$LATEST_TAG" ]
            then
                  LATEST_TAG="latest"
            fi
            #
            sudo docker build --pull -t $DOCKERHUB_REPO:$LATEST_TAG-amd64 -f amd64.Dockerfile .
            sudo docker login --username=$DOCKERHUB_USER --password=$DOCKERHUB_PASS
            sudo docker push $DOCKERHUB_REPO:$LATEST_TAG-amd64
  publish_docker_linuxarm32:
    machine:
      docker_layer_caching: false

    steps:
      - checkout
      - run:
          command: |
            sudo docker run --rm --privileged multiarch/qemu-user-static:register --reset
            LATEST_TAG=${CIRCLE_TAG:1} #trim v from tag
            if [ -z "$LATEST_TAG" ]
            then
                  LATEST_TAG="latest"
            fi
            #
            sudo docker build --pull -t $DOCKERHUB_REPO:$LATEST_TAG-arm32v7 -f arm32v7.Dockerfile .
            sudo docker login --username=$DOCKERHUB_USER --password=$DOCKERHUB_PASS
            sudo docker push $DOCKERHUB_REPO:$LATEST_TAG-arm32v7
  publish_docker_linuxarm64:
    machine:
      docker_layer_caching: false

    steps:
      - checkout
      - run:
          command: |
            sudo docker run --rm --privileged multiarch/qemu-user-static:register --reset
            LATEST_TAG=${CIRCLE_TAG:1} #trim v from tag
            if [ -z "$LATEST_TAG" ]
            then
                  LATEST_TAG="latest"
            fi
            #
            sudo docker build --pull -t $DOCKERHUB_REPO:$LATEST_TAG-arm64v8 -f arm64v8.Dockerfile .
            sudo docker login --username=$DOCKERHUB_USER --password=$DOCKERHUB_PASS
            sudo docker push $DOCKERHUB_REPO:$LATEST_TAG-arm64v8
  publish_docker_multiarch:
    machine:
      enabled: true
      image: circleci/classic:201808-01

    steps:
      - run:
          command: |
            # Turn on Experimental features
            sudo mkdir $HOME/.docker
            sudo sh -c 'echo "{ \"experimental\": \"enabled\" }" >> $HOME/.docker/config.json'
            #
            sudo docker login --username=$DOCKERHUB_USER --password=$DOCKERHUB_PASS
            #
            LATEST_TAG=${CIRCLE_TAG:1} #trim v from tag
            if [ -z "$LATEST_TAG" ]
            then
                  LATEST_TAG="latest"
            fi
            sudo docker manifest create --amend $DOCKERHUB_REPO:$LATEST_TAG $DOCKERHUB_REPO:$LATEST_TAG-amd64 $DOCKERHUB_REPO:$LATEST_TAG-arm32v7 $DOCKERHUB_REPO:$LATEST_TAG-arm64v8
            sudo docker manifest annotate $DOCKERHUB_REPO:$LATEST_TAG $DOCKERHUB_REPO:$LATEST_TAG-amd64 --os linux --arch amd64
            sudo docker manifest annotate $DOCKERHUB_REPO:$LATEST_TAG $DOCKERHUB_REPO:$LATEST_TAG-arm32v7 --os linux --arch arm --variant v7
            sudo docker manifest annotate $DOCKERHUB_REPO:$LATEST_TAG $DOCKERHUB_REPO:$LATEST_TAG-arm64v8 --os linux --arch arm64 --variant v8
            sudo docker manifest push $DOCKERHUB_REPO:$LATEST_TAG -p

workflows:
  version: 2

  run_tests:
    jobs:
      - unit_tests
      - e2e_tests:
          requires:
            - unit_tests

  publish:
    jobs:
      - publish_docker_linuxamd64:
          filters:
            # ignore any commit on any branch by default
            branches:
              only: master
            # only act on version tags
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
      - publish_docker_linuxarm32:
          filters:
            branches:
              only: master
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
      - publish_docker_linuxarm64:
          filters:
            branches:
              only: master
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
      - publish_docker_multiarch:
          requires:
            - publish_docker_linuxamd64
            - publish_docker_linuxarm32
            - publish_docker_linuxarm64
          filters:
            branches:
              only: master
            tags:
              only: /v[0-9]+(\.[0-9]+)*/